html {
    --color-text: black;
    --color-background: #EDE6E4;
    --color-primary: #A49B9A;
    --color-secondary: #D4CAC6;
    --color-complement: #64616A;
    --color-contrast: #283046;
    --color-contrast2:#1da3a8;
  }

  html.dark {
    --color-text: #EDE6E4;
    --color-background: black;
    --color-primary: #A49B9A;
    --color-secondary: #283046;
    --color-complement: #64616A;
    --color-contrast: #D4CAC6;
    --color-contrast2:#1da3a8;
  }