  html {
    --color-text: black;
    --color-background: #f5f5f5; 
    --color-primary: #A49B9A;
    --color-secondary: #eeeeeee7;
    --color-complement: #64616A;
    --color-contrast: #141822; 
    --color-contrast2:#1da3a8;
    --color-warning: red;   
  }

  html.dark {
    --color-text: #EDE6E4;
    --color-background: #141822; 
    --color-primary: #A49B9A;
    --color-secondary: #283046;
    --color-complement: #64616A;
    --color-contrast: #D4CAC6; 
    --color-contrast2:#1da3a8;
    --color-warning: red;
  }

  