.lineDecoration{
  height: 0.5em;
  width: 100%;
  background-color: var(--color-background);
}

.active {
    background-color: var(--color-contrast);
    color: whitesmoke;
  }
  .error {
    color: var(--color-warning);
  }
  #buttonIcon{
    background-color: var(--color-secondary);
    border: none;
    height: 45px;
    width: 45px;
    width: 0;
    border-radius: none;
    background-color: var(--color-secondary);
    box-shadow: none;
    margin: 0 0 0 5px;
  }
  
  #success{
    position: absolute;
    text-align: center;
    left: 10%;
    z-index: 10;
    background-color: var(--color-contrast2);
    width: 80%;
    border-radius: 10px;
    top: 91%;
  }
  
#skipLink{
  font-size: 1.125em;
    position: absolute;
    top: -30px;
    left: 50px;
    transition: top 1s, color 2.5s;
  }
  
  #skipLink:focus{
    top: 12px;
    color: var(--color-contrast2);
  }
  
  #switchDarkMode{
    margin-left: 5px;
    left: 5px;
    position: absolute;
    height: 20px;
    width: 36px;
    background-color: var(--color-complement);
    border-radius: 10PX;
    appearance: none;
    cursor: pointer;
    top: 200px;
  }
  
  #switchDarkMode:checked::before{
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    border-radius: 20px;
    background-color: var(--color-contrast);
    top: -1.5px;
    left: 17px;
  }
  
  #switchDarkMode::before{    
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    border-radius: 20px;
    background-color: var(--color-contrast);
    top: -1.5px;
    left: -1px;
  }
  