.active {
    background-color: var(--color-contrast2);
  }
  .error {
    color: var(--color-warning);
  }
  #buttonIcon{
    background-color: var(--color-background);
    border: none;
  }
  
  #success{
    position: absolute;
    text-align: center;
    left: 10%;
    z-index: 10;
    background-color: var(--color-contrast2);
    width: 80%;
    border-radius: 10px;
    top: 91%;
  }
  
#skipLink{
    position: absolute;
    top: -30px;
    left: 8px;
    transition: top 1s, color 2.5s;
  }
  
  #skipLink:focus{
    top: 12px;
    color: var(--color-contrast2);
  }
  
  #switchDarkMode{
    position: absolute;
    height: 20px;
    width: 36px;
    background-color: var(--color-primary);
    border-radius: 10PX;
    appearance: none;
  }
  
  #switchDarkMode:checked::before{
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    border-radius: 20px;
    background-color: var(--color-contrast);
    top: -1.5px;
    left: 17px;
  }
  
  #switchDarkMode::before{
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    border-radius: 20px;
    background-color: var(--color-contrast);
    top: -1.5px;
    left: -1px;
  }
  